beautifulsoup4==4.9.3
certifi==2022.9.24
chardet==4.0.0
configparser==5.3.0
googlesearch-python==1.1.0
idna==2.10
pycurl==7.45.1
python-nmap==0.7.1
PyYAML==6.0
requests==2.25.1
soupsieve==2.3.2.post1
urllib3==1.26.13
